#
# Partition Table
#
# CONFIG_PARTITION_TABLE_SINGLE_APP is not set
# CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE is not set
# CONFIG_PARTITION_TABLE_TWO_OTA is not set
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x11000
CONFIG_PARTITION_TABLE_MD5=y
# end of Partition Table

CONFIG_ETH_ENABLED=n
CONFIG_ESP32_WIFI_ENABLED=y
CONFIG_FREERTOS_HZ=1000
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_ESP_TLS_USING_MBEDTLS=y
CONFIG_ESP_TLS_PSK_VERIFICATION=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_SPI_FLASH_ENABLE_ENCRYPTED_READ_WRITE=n
ESPTOOLPY_FLASHMODE_QIO=y
ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_ESP_MAIN_TASK_AFFINITY_CPU1=y
CONFIG_ESP_INT_WDT=n
CONFIG_ESP_TASK_WDT=n
CONFIG_BOOTLOADER_LOG_LEVEL_VERBOSE=y
CONFIG_BOOTLOADER_LOG_LEVEL=5

CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
